name: Update Medium Feed

on:
  schedule:
    - cron: '0 0 * * *' # Ejecuta cada día a medianoche

jobs:
  update-feed:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Fetch Medium RSS Feed
        run: |
          curl -s "https://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/@estebiart" > medium-feed.json

      - name: Generate Medium Feed Content
        run: |
          echo "## Últimas Publicaciones en Medium" > medium-posts.md
          cat medium-feed.json | jq -r '.items[] | "\n- [\(.title)](\(.link)) - \(.pubDate)"' >> medium-posts.md

      - name: Update README with Medium Posts
        run: |
          # Lee el contenido de medium-posts.md en una variable
          MEDIUM_POSTS=$(<medium-posts.md)
          # Reemplaza el marcador de posición en README.md usando sed
          sed -i "/<!-- MEDIUM_FEED_START -->/,/<!-- MEDIUM_FEED_END -->/c\<!-- MEDIUM_FEED_START -->\n${MEDIUM_POSTS}\n<!-- MEDIUM_FEED_END -->" README.md

      - name: Commit Changes
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add README.md
          git commit -m "Update Medium posts feed"
          git push
